body {
font-family: Grandmond;
background: #eeeeee;
text-align: center;
}
header {
background: black;
color: white;
padding: 10px;
}
.container {
margin-top: 20px;
display: none;
}
input, select {
padding: 10px;
margin: 5px;
}
button
{
padding: 10px;
margin: 5px;
}
button {
cursor: pointer;
}
ul {
list-style: none;
padding: 0;
max-width: 400px;
margin: auto;
}
li {
background: white;
margin-bottom: 10px;
padding: 10px 15px;
border-radius: 8px;
display: flex;
justify-content: space-between;
align-items: center;
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}